.artist{
    width: 170px;
    height: 250px;
    background-color: $ELEMENT_COLOR;
    transition: all 0.3s;
    &:hover{
      background-color: $HOVER-ELEMENT-COLOR;
    }
    &__image{
      width: 130px;
      height: 130px;
      border-radius: 50%;
      margin: auto;
    }
  }