@mixin input {
  background-color: $ELEMENT-COLOR;
  outline: none;
  padding: 10px 20px;
  border-radius: 0.75rem;
}
.input {
  @include input;
}
.search {
  @include input;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__input {
    background-color: transparent;
    outline: none;
    width: 90%;
    padding: 5px;
    font-size: 14px;
    height: 100%;
  }
  &__clear {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: $GRAY-COLOR;
    &:hover {
      color: $WHITE-COLOR;
      background-color: $HOVER-ELEMENT-COLOR;
    }
  }
}
