.playlist{
    width: 190px;
    height: 250px;
    background-color: $ELEMENT_COLOR;
    transition: all 0.3s;
    &:hover{
      background-color: $HOVER-ELEMENT-COLOR;
    }
    &__image{
      width: 150px;
      height: 150px;
      margin: auto;
    }
  }