.text-gray {
  color: $GRAY-COLOR;
}
.button {
  padding: 0.75rem 2rem;
  border-radius: 30px;
  font-weight: 700;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  &--primary {
    background-color: $PRIMARY-COLOR;
  }
}
.hr {
  opacity: 0.3;
}
* {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0.75rem;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $BACKGROUND-COLOR;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $GRAY-COLOR;
    border: none;
    outline: none;
    border-radius: 16px;
  }
}
